/*font-family: 'Hind Siliguri', sans-serif;*/

body {
  min-height: 100vh;
  text-align: center;
  font-family: 'Hind Siliguri', sans-serif;
  background: linear-gradient(20deg, #e66465 44%, #E4E9FD 44%);
}

button {
  outline:none !important;
}

.circle {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding-left: 0;
  background: linear-gradient(0.25turn, #ffe9c5, #fa9191);
}

.circle:hover {
    background: #ff577f;
}

.icon-circle {
  padding: 20px;
}

.logo {
  width: 55vh;
}

.options {
  color: #393e46;
  font-size: 165%;
  font-weight: 600;
  margin-bottom: 20px;
}

.descriptions {
  font-size: 120%;
  margin: 30px 0 10px;
  font-weight: 500;
  color: #E4E9FD;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0 50px;
  }

  .logo {
    width: 45vh;
  }
}