.circle {
    width: 250px;
    height: 250px;
    background: none;
}

#info {
    margin-top: 20px;
    font-size: 120%;
}

.logo {
    width: 55vh;
    margin-top: -65px;
}

 @media only screen and (max-width: 600px) {
     .circle {
         width: 200px;
         height: 200px;
     }

     .logo {
        width: 30vh;
     }
}
