<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID-19 Statistics</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel= "stylesheet" type="text/css" href="{{ url_for('static',filename='/css/index.css') }}">
</head>
<body>
    <img class="logo" src="../static/images/logo.png" alt="logo pic">
    <h4 class="options">Error! Sorry I don't have that in my database!</h4><br><br>

    <form action="/" method="GET">
        <button class="bt">Home page</button>
    </form>
</body>
</html>