<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID-19 Manual Inputs</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel= "stylesheet" type="text/css" href="{{ url_for('static',filename='/css/manual.css') }}">
</head>
<body>
    <!-- <div>
        <p class="output"><em>...diagnostic messages</em></p>
    </div> -->

    <form action="/data" method="POST">
        <label for="country">Country name:</label><br>
        <input type="text" id="country" name="country" autocomplete="off"><br>
        <button>Get Data</button>
    </form>

    <form action="/" method="GET">
        <button>Home page</button>
    </form>

</body>
</html>