<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- <div>
        <p class="output"><em>...diagnostic messages</em></p>
    </div> -->

    <form action="/data" method="POST">
        <label for="country">Country name:</label><br>
        <input type="text" id="country" name="country"><br>
        <button>Get Data</button>
    </form>

    <form action="/" method="GET">
        <button>Home page</button>
    </form>

</body>
</html>